*{
  margin: 0;
  padding: 0;
}
body{
height: 100vh;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
}
.flex{
  display: flex;
}
.bg-0397B8{
  background-color: #0397B8;
}
.flexgrow{
  flex-grow: 1;
}
.center{
  text-align: center;
}
.my-auto {
  font-size: 24px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.middleBox {
  padding: 12px;
  width: 30%;
  border: 1px solid black;
  
}
.my-18{
  margin-top: 18px;
  margin-bottom: 18px;
}
.justify-between{
  justify-content: space-between;
}
.h-100{
  height: 100%;
}
.select-labels{
  font-size: 16px;
  color: black;
  font-weight: 600;
}

select{
  width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
}
option{
  padding: 12px;
}
/* .flex-4{
  flex-grow: 0.4;
}
.flex-6{
  flex-grow: 0.6;
} */
.wrapper{
  height: 400px;
}
.button{
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  color: white;
  background-color: #0397B8;
  border-radius: 12px;
  margin-top: 12px;
  box-shadow: none;
  text-decoration: none;
}
.table-heads{
  display: flex;
  /* justify-content: center; */
  align-items: left !important;
  border: 0.5px solid black;
  padding: 12px;
  min-width: 200px;
  font-weight: 700;
  text-align: left !important;
}
.w-150{
  width: 300px;
}
.table-heads-members{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 0.5px solid black;
  padding: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 200px;
}